# Exercise

At the same level as this notebook on github, there is an Exercise folder that contains carprices.csv. This file has car sell prices for 3 different models. First plot data points on a scatter plot chart to see if linear regression model can be applied. If yes, then build a model that can answer following questions,

1) Predict price of a mercedez benz that is 4 yr old with mileage 45000

2) Predict price of a BMW X5 that is 7 yr old with mileage 86000

3) Tell me the score (accuracy) of your model. (Hint: use LinearRegression().score())

In [68]:
import pandas as pd
df = pd.read_csv("carprices.csv")
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [69]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [70]:
marged = pd.concat([df,dummies], axis='columns')
marged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [71]:
final = marged.drop(['Car Model'], axis='columns')
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000          18000         6        0       1                      0
1     35000          34000         3        0       1                      0
2     57000          26100         5        0       1                      0
3     22500          40000         2        0       1                      0
4     46000          31500         4        0       1                      0
5     59000          29400         5        1       0                      0
6     52000          32000         5        1       0                      0
7     72000          19300         6        1       0                      0
8     91000          12000         8        1       0                      0
9     67000          22000         6        0       0                      1
10    83000          20000         7        0       0                      1
11    79000          21000         7        0       0                      1
12    59000          33000         5        0       0                      1

In [72]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [73]:
# X = final.drop(["Sell Price($)","Mercedez Benz C class"], axis='columns')
X = final.drop(["Sell Price($)"], axis='columns')
X

    Mileage  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000         6        0       1                      0
1     35000         3        0       1                      0
2     57000         5        0       1                      0
3     22500         2        0       1                      0
4     46000         4        0       1                      0
5     59000         5        1       0                      0
6     52000         5        1       0                      0
7     72000         6        1       0                      0
8     91000         8        1       0                      0
9     67000         6        0       0                      1
10    83000         7        0       0                      1
11    79000         7        0       0                      1
12    59000         5        0       0                      1

In [74]:
y = final['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [75]:
model.fit(X,y)

LinearRegression()

In [76]:
# model.predict([[4500,4,0,0]])

In [77]:
model.predict([[4500,4,0,0,1]])

array([51981.26203334])

In [78]:
model.predict([[86000,7,0,1,0]])

array([11080.74313219])

In [79]:
#Save the model

In [80]:
import pickle

In [81]:
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [82]:
with open('model_pickle','rb') as f:
    model_02 = pickle.load(f)

In [83]:
model_02.predict([[4500,4,0,0,1]])

array([51981.26203334])

In [84]:
#One Hot Encoding

In [85]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [86]:
dfle = df

In [87]:
dfle['Car Model'] = le.fit_transform(dfle['Car Model'])

In [88]:
X1 = dfle[['Car Model','Mileage','Age(yrs)']].values
X1[:,0]

array([1, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2], dtype=int64)

In [89]:
y1 = dfle['Sell Price($)']
y1

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [90]:
from sklearn.preprocessing import OneHotEncoder

In [91]:
ohe = OneHotEncoder(categorical_features=[0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [92]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Assuming you have a DataFrame named df with categorical features in the first column (index 0)
# Create a ColumnTransformer to handle one-hot encoding of the 'Car Model' column
ct = ColumnTransformer(
    transformers=[('encoder', OneHotEncoder(), [0])],  # Apply OneHotEncoder to the first column (index 0)
    remainder='passthrough'  # Pass through the other columns as-is
)

X_encoded = ct.fit_transform(df[['Car Model', 'Mileage', 'Age(yrs)']])

In [93]:
X_encoded

array([[0.00e+00, 1.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.20e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 7.20e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00]])

In [94]:
X_encoded = X_encoded[:1:]
X_encoded

array([[0.0e+00, 1.0e+00, 0.0e+00, 6.9e+04, 6.0e+00]])

In [95]:
model_02 = LinearRegression()

In [96]:
model_02.fit(X_encoded,y1)

ValueError: Found input variables with inconsistent numbers of samples: [1, 13]

In [ ]:
#model_02.predict()