Exercise: Build decision tree model to predict survival based on certain parameters


CSV file is available to download at https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

In this file using following columns build a model to predict if person would survive or not,

1) Pclass

2) Sex

3) Age

4) Fare

Calculate score of your model

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('titanic.csv')

In [62]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
inputs = df[['Pclass', 'Sex', 'Age', 'Fare']]
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [64]:
target = df['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [65]:
#data preprocessing

# from sklearn.preprocessing import LabelEncoder
# le_sex = LabelEncoder()
# inputs['Sex_n'] = le_sex.fit_transform(inputs['Sex'])
# inputs

In [66]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})
inputs.head()

C:\Users\ACER\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [67]:
#check NaN Valuse 
nan_in_specific_column = df['Age'].isna().any()
nan_in_specific_column

True

In [68]:
inputs.dtypes

Pclass      int64
Sex         int64
Age       float64
Fare      float64
dtype: object

In [70]:
#the column  convert
inputs['Age'] = inputs['Age'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [40]:
#train the model
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [42]:
model.fit(inputs, target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').